@model EMSYS.Models.DashboardViewModel
@using EMSYS.Models
@using EMSYS.CustomHelper
@{
    ViewBag.Title = Resource.Dashboard;
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
    bool isAdmin = User.IsInRole("System Admin");
    bool isTeacher = User.IsInRole("Instructor");
    bool isStudent = User.IsInRole("Student");
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="pagetitle mb-sm-0 fw600">@Resource.Dashboard</h4>
        </div>
    </div>
</div>

<section class="section dashboard mt-3">
    <div class="row justify-content-start align-items-start">
        @if (isAdmin)
        {
            <div class="col-md-6 col-lg-3">
                <div class="card card-animate border-0 shadow">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 overflow-hidden">
                                <p class="text-capitalize fw-medium text-muted text-truncate mb-0 fs-14">@Resource.TotalInstructor</p>
                            </div>
                            <div class="flex-shrink-0">
                                <div class="fs-14 mb-0 text-muted"><i class="fa-solid fa-circle-info align-middle" data-bs-toggle="tooltip" data-bs-placement="top" title="@Resource.TotalInstructorTooltip"></i></div>
                            </div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mt-4">
                            <div>
                                <h4 class="fs-27 fw-bold ff-secondary mb-4">@Model.TotalInstructor</h4>
                                <a href="@Url.Action("index","user")" class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor">@Resource.View @Resource.User</a>
                            </div>
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title rounded fs-4 bg-light"><i class="fa-solid fa-person-chalkboard"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (isAdmin)
        {
            <div class="col-md-6 col-lg-3">
                <div class="card card-animate border-0 shadow">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 overflow-hidden">
                                <p class="text-capitalize fw-medium text-muted text-truncate mb-0 fs-14">@Resource.TotalStudent</p>
                            </div>
                            <div class="flex-shrink-0">
                                <div class="fs-14 mb-0 text-muted"><i class="fa-solid fa-circle-info align-middle" data-bs-toggle="tooltip" data-bs-placement="top" title="@Resource.TotalStudentTooltip"></i></div>
                            </div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mt-4">
                            <div>
                                <h4 class="fs-27 fw-bold ff-secondary mb-4">@Model.TotalStudent</h4>
                                <a href="@Url.Action("index","user")" class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor">@Resource.View @Resource.User</a>
                            </div>
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title rounded fs-4 bg-light"><i class="fa-solid fa-graduation-cap"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-6 col-lg-3">
            <div class="card card-animate border-0 shadow">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 overflow-hidden">
                            <p class="text-capitalize fw-medium text-muted text-truncate mb-0 fs-14">@Resource.ExamInProgress</p>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="fs-14 mb-0 text-muted"><i class="fa-solid fa-circle-info align-middle" data-bs-toggle="tooltip" data-bs-placement="top" title="@Resource.ExamInProgressTooltip"></i></div>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-27 fw-bold ff-secondary mb-4">@Model.ExamInProgress</h4>
                            @if (isStudent)
                            {
                                <a href="@Url.Action("currentexam","studentexam")" class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor">@Resource.View @Resource.Exam</a>
                            }
                            else
                            {
                                <a href="@Url.Action("index","exam")" class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor">@Resource.View @Resource.Exam</a>
                            }
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title rounded fs-4 bg-light"><i class="fa-solid fa-circle-play"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card card-animate border-0 shadow">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 overflow-hidden">
                            <p class="text-capitalize fw-medium text-muted text-truncate mb-0 fs-14">@Resource.ExamCompleted</p>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="fs-14 mb-0 text-muted"><i class="fa-solid fa-circle-info align-middle" data-bs-toggle="tooltip" data-bs-placement="top" title="@Resource.ExamCompletedTooltip"></i></div>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-27 fw-bold ff-secondary mb-4">@Model.ExamCompleted</h4>
                            @if (isStudent)
                            {
                                <a href="@Url.Action("pastexam","studentexam")" class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor">@Resource.View @Resource.Exam</a>
                            }
                            else
                            {
                                <a href="@Url.Action("index","exam")" class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor">@Resource.View @Resource.Exam</a>
                            }
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title rounded fs-4 bg-light"><i class="fa-solid fa-square-check"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (isTeacher || isStudent)
        {
            <div class="col-md-6 col-lg-3">
                <div class="card card-animate border-0 shadow">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 overflow-hidden">
                                <p class="text-capitalize fw-medium text-muted text-truncate mb-0 fs-14">@Resource.ExamPassed</p>
                            </div>
                            <div class="flex-shrink-0">
                                <div class="fs-14 mb-0 text-muted"><i class="fa-solid fa-circle-info align-middle" data-bs-toggle="tooltip" data-bs-placement="top" title="@Resource.ExamPassedTooltip"></i></div>
                            </div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mt-4">
                            <div>
                                <h4 class="fs-27 fw-bold ff-secondary mb-4">@Model.ExamPassed</h4>
                                <a href="@Url.Action("pastexam","studentexam")" class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor">@Resource.View @Resource.Exam</a>
                            </div>
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title rounded fs-4 bg-light"><i class="fa-solid fa-face-laugh-beam"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card card-animate border-0 shadow">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 overflow-hidden">
                                <p class="text-capitalize fw-medium text-muted text-truncate mb-0 fs-14">@Resource.ExamFailed</p>
                            </div>
                            <div class="flex-shrink-0">
                                <div class="fs-14 mb-0 text-muted"><i class="fa-solid fa-circle-info align-middle" data-bs-toggle="tooltip" data-bs-placement="top" title="@Resource.ExamFailedTooltip"></i></div>
                            </div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mt-4">
                            <div>
                                <h4 class="fs-27 fw-bold ff-secondary mb-4">@Model.ExamFailed</h4>
                                <a href="@Url.Action("pastexam","studentexam")" class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor">@Resource.View @Resource.Exam</a>
                            </div>
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title rounded fs-4 bg-light"><i class="fa-solid fa-face-surprise"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
      
    </div>
</section>

<!-- only include this when render charts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

@section Scripts{
    <script>
        

    

     

       


    

        let myChart = null;

        

        function getRandomNumber() {
            return Math.floor(Math.random() * 6);
        }

    </script>
}